steps:
- name: 'gcr.io/cloud-builders/docker'
  id: 'Build container train image'
  env:
      - DOCKER_BUILDKIT=1
  args:
    [
      'build',
      '-t',
      'europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/train:latest',
      '-f',
      'dockerfiles/train.dockerfile',
      '.'
    ]

- name: 'gcr.io/cloud-builders/docker'
  id: 'Push container train image'
  args: [
    'push',
    'europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/train:latest'
  ]

- name: 'gcr.io/cloud-builders/docker'
  id: 'Run training'
  entrypoint: 'docker'
  args:
    [
      'run',
      '--rm',
      '-e', 'GOOGLE_APPLICATION_CREDENTIALS=$$GOOGLE_APPLICATION_CREDENTIAL',
      '-e', 'WANDB_API_KEY=$$WANDB_API_KEY',
      'europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/train:latest'
    ]
  secretEnv: ["GOOGLE_APPLICATION_CREDENTIAL", "WANDB_API_KEY"]

- name: 'gcr.io/cloud-builders/docker'
  id: 'Build container evaluate image'
  env:
      - DOCKER_BUILDKIT=1
  args:
    [
      'build',
      '-t',
      'europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/evaluate:latest',
      '-f',
      'dockerfiles/evaluate.dockerfile',
      '.'
    ]

- name: 'gcr.io/cloud-builders/docker'
  id: 'Push container evaluate image'
  args: [
    'push',
    'europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/evaluate:latest'
  ]

- name: 'gcr.io/cloud-builders/docker'
  id: 'Run evaluation'
  entrypoint: 'docker'
  args:
    [
      'run',
      '--rm',
      '-e', 'GOOGLE_APPLICATION_CREDENTIALS=$$GOOGLE_APPLICATION_CREDENTIAL',
      '-e', 'WANDB_API_KEY=$$WANDB_API_KEY',
      'europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/evaluate:latest'
    ]
  secretEnv: ["GOOGLE_APPLICATION_CREDENTIAL", "WANDB_API_KEY"]

options:
  logging: CLOUD_LOGGING_ONLY

availableSecrets:
  secretManager:
  - versionName: projects/684678738707/secrets/GOOGLE_APPLICATION_CREDENTIALS
    env: 'GOOGLE_APPLICATION_CREDENTIAL'
  - versionName: projects/684678738707/secrets/WANDB_API_KEY
    env: 'WANDB_API_KEY'
