steps:
# ------------------------------
# Build & Push Train Image
# ------------------------------
- name: 'gcr.io/cloud-builders/docker'
  id: 'Build & Push Train Image'
  env: ['DOCKER_BUILDKIT=1']
  args:
    [
      'build', 
      '-t', 'europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/train:latest',
      '-f', 'dockerfiles/train.dockerfile', 
      '.'
    ]

- name: 'gcr.io/cloud-builders/docker'
  id: 'Push Train Image'
  args:
    ['push', 'europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/train:latest']

# ------------------------------
# Run Training
# ------------------------------
- name: 'gcr.io/cloud-builders/docker'
  id: 'Run Training'
  entrypoint: 'bash'
  secretEnv: ["GOOGLE_APPLICATION_CREDENTIALS", "WANDB_API_KEY"]
  args:
    - "-c"
    - |
      set -e
      docker run --rm \
        -v /secrets/GOOGLE_APPLICATION_CREDENTIALS:/tmp/gcp-credentials.json:ro \
        -e GOOGLE_APPLICATION_CREDENTIALS=/tmp/gcp-credentials.json \
        -e WANDB_API_KEY="$WANDB_API_KEY" \
        europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/train:latest

# ------------------------------
# Build & Push Evaluate Image
# ------------------------------
- name: 'gcr.io/cloud-builders/docker'
  id: 'Build & Push Evaluate Image'
  env: ['DOCKER_BUILDKIT=1']
  args:
    [
      'build', 
      '-t', 'europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/evaluate:latest',
      '-f', 'dockerfiles/evaluate.dockerfile', 
      '.'
    ]

- name: 'gcr.io/cloud-builders/docker'
  id: 'Push Evaluate Image'
  args:
    ['push', 'europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/evaluate:latest']

# ------------------------------
# Run Evaluation
# ------------------------------
- name: 'gcr.io/cloud-builders/docker'
  id: 'Run Evaluate'
  entrypoint: 'bash'
  secretEnv: ["GOOGLE_APPLICATION_CREDENTIALS", "WANDB_API_KEY"]
  args:
    - "-c"
    - |
      set -e
      docker run --rm \
        -v /secrets/GOOGLE_APPLICATION_CREDENTIALS:/tmp/gcp-credentials.json:ro \
        -e GOOGLE_APPLICATION_CREDENTIALS=/tmp/gcp-credentials.json \
        -e WANDB_API_KEY="$WANDB_API_KEY" \
        europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/evaluate:latest

# ------------------------------
# Options & Secrets
# ------------------------------
options:
  logging: CLOUD_LOGGING_ONLY

availableSecrets:
  secretManager:
    - versionName: projects/684678738707/secrets/GOOGLE_APPLICATION_CREDENTIALS/versions/latest
      env: 'GOOGLE_APPLICATION_CREDENTIALS'
    - versionName: projects/684678738707/secrets/WANDB_API_KEY/versions/latest
      env: 'WANDB_API_KEY'
