steps:
# ------------------------------
# Build Train Image
# ------------------------------
- name: 'gcr.io/cloud-builders/docker'
  id: 'Build container train image'
  env: ['DOCKER_BUILDKIT=1']
  args:
    ['build', '-t', 'europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/train:latest', '-f', 'dockerfiles/train.dockerfile', '.']

# ------------------------------
# Push Train Image
# ------------------------------
- name: 'gcr.io/cloud-builders/docker'
  id: 'Push container train image'
  args:
    ['push', 'europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/train:latest']

# ------------------------------
# Run Training
# ------------------------------
- name: 'gcr.io/cloud-builders/docker'
  id: 'Run training'
  entrypoint: 'bash'
  secretEnv: ["GCP_CREDS", "WANDB_API_KEY"]
  args:
    - "-c"
    - |
      set -e
      mkdir -p /tmp/creds
      echo "$GCP_CREDS" > /tmp/gcp-credentials.json
      docker run --rm \
        -v /tmp/gcp-credentials.json:/tmp/gcp-credentials.json:ro \
        -e GOOGLE_APPLICATION_CREDENTIALS=/tmp/gcp-credentials.json \
        -e WANDB_API_KEY="$WANDB_API_KEY" \
        europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/train:latest

# ------------------------------
# Build Evaluate Image
# ------------------------------
- name: 'gcr.io/cloud-builders/docker'
  id: 'Build container evaluate image'
  env: ['DOCKER_BUILDKIT=1']
  args:
    ['build', '-t', 'europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/evaluate:latest', '-f', 'dockerfiles/evaluate.dockerfile', '.']

# ------------------------------
# Push Evaluate Image
# ------------------------------
- name: 'gcr.io/cloud-builders/docker'
  id: 'Push container evaluate image'
  args:
    ['push', 'europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/evaluate:latest']

# ------------------------------
# Run Evaluation
# ------------------------------
- name: 'gcr.io/cloud-builders/docker'
  id: 'Run evaluate'
  entrypoint: 'bash'
  secretEnv: ["GCP_CREDS", "WANDB_API_KEY"]
  args:
    - "-c"
    - |
      set -e
      mkdir -p /tmp/creds
      echo "$GCP_CREDS" > /tmp/gcp-credentials.json
      docker run --rm \
        -v /tmp/gcp-credentials.json:/tmp/gcp-credentials.json:ro \
        -e GOOGLE_APPLICATION_CREDENTIALS=/tmp/gcp-credentials.json \
        -e WANDB_API_KEY="$WANDB_API_KEY" \
        europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/evaluate:latest

# ------------------------------
# Options & Secrets
# ------------------------------
options:
  logging: CLOUD_LOGGING_ONLY

availableSecrets:
  secretManager:
    - versionName: projects/684678738707/secrets/GOOGLE_APPLICATION_CREDENTIALS/versions/latest
      env: 'GCP_CREDS'
    - versionName: projects/684678738707/secrets/WANDB_API_KEY/versions/latest
      env: 'WANDB_API_KEY'
