steps:
- name: 'gcr.io/cloud-builders/docker'
  id: 'Build container train image'
  env:
      - DOCKER_BUILDKIT=1
  args:
    [
      'build',
      '-t',
      'europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/train:latest',
      '-f',
      'dockerfiles/train.dockerfile',
      '.'
    ]

- name: 'gcr.io/cloud-builders/docker'
  id: 'Push container train image'
  args: [
    'push',
    'europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/train:latest'
  ]

- name: 'gcr.io/cloud-builders/docker'
  id: 'Run training'
  entrypoint: 'bash'
  args:
    - '-c'
    - |
      docker run --rm \
        -e GOOGLE_APPLICATION_CREDENTIALS_CONTENT="$$GOOGLE_APPLICATION_CREDENTIALS" \
        -e WANDB_API_KEY \
        --entrypoint bash \
        europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/train:latest \
        -c "echo \"$$GOOGLE_APPLICATION_CREDENTIALS_CONTENT\" > /root/dtu-mlops-group-48-1ddc4e04b98d.json && export GOOGLE_APPLICATION_CREDENTIALS=/root/dtu-mlops-group-48-1ddc4e04b98d.json && uv run src/mlops/train.py"
  secretEnv: ["GOOGLE_APPLICATION_CREDENTIALS", "WANDB_API_KEY"]

- name: 'gcr.io/cloud-builders/docker'
  id: 'Build container evaluate image'
  env:
      - DOCKER_BUILDKIT=1
  args:
    [
      'build',
      '-t',
      'europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/evaluate:latest',
      '-f',
      'dockerfiles/evaluate.dockerfile',
      '.'
    ]

- name: 'gcr.io/cloud-builders/docker'
  id: 'Push container evaluate image'
  args: [
    'push',
    'europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/evaluate:latest'
  ]

- name: 'gcr.io/cloud-builders/docker'
  id: 'Run evaluation'
  entrypoint: 'bash'
  args:
    - '-c'
    - |
      docker run --rm \
        -e GOOGLE_APPLICATION_CREDENTIALS_CONTENT="$$GOOGLE_APPLICATION_CREDENTIALS" \
        -e WANDB_API_KEY \
        --entrypoint bash \
        europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/evaluate:latest \
        -c "echo \"$$GOOGLE_APPLICATION_CREDENTIALS_CONTENT\" > /root/dtu-mlops-group-48-1ddc4e04b98d.json && export GOOGLE_APPLICATION_CREDENTIALS=/root/dtu-mlops-group-48-1ddc4e04b98d.json && uv run src/mlops/evaluate.py"
  secretEnv: ["GOOGLE_APPLICATION_CREDENTIALS", "WANDB_API_KEY"]

options:
  logging: CLOUD_LOGGING_ONLY

availableSecrets:
  secretManager:
  - versionName: projects/684678738707/secrets/GOOGLE_APPLICATION_CREDENTIALS/versions/latest
    env: 'GOOGLE_APPLICATION_CREDENTIALS'
  - versionName: projects/684678738707/secrets/WANDB_API_KEY/versions/latest
    env: 'WANDB_API_KEY'
