steps:
- name: 'gcr.io/cloud-builders/docker'
  id: 'Build container train image'
  env:
      - DOCKER_BUILDKIT=1
  args:
    [
      'build',
      '-t',
      'europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/train:latest',
      '-f',
      'dockerfiles/train.dockerfile',
      '.'
    ]

- name: 'gcr.io/cloud-builders/docker'
  id: 'Push container train image'
  args: [
    'push',
    'europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/train:latest'
  ]

- name: 'gcr.io/cloud-builders/docker'
  id: 'Run training'
  entrypoint: 'bash'
  secretEnv: ["GOOGLE_APPLICATION_CREDENTIALS", "WANDB_API_KEY"]
  args:
    - '-c'
    - |
      mkdir -p /tmp/creds
      # Write the secret to a file
      echo "$GOOGLE_APPLICATION_CREDENTIALS" > /tmp/creds/gcp-credentials.json
      docker run --rm \
        -v /tmp/creds/gcp-credentials.json:/tmp/gcp-credentials.json:ro \
        -e GOOGLE_APPLICATION_CREDENTIALS=/tmp/gcp-credentials.json \
        -e WANDB_API_KEY="$WANDB_API_KEY" \
        europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/train:latest

- name: 'gcr.io/cloud-builders/docker'
  id: 'Build container evaluate image'
  env:
      - DOCKER_BUILDKIT=1
  args:
    [
      'build',
      '-t',
      'europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/evaluate:latest',
      '-f',
      'dockerfiles/evaluate.dockerfile',
      '.'
    ]

- name: 'gcr.io/cloud-builders/docker'
  id: 'Push container evaluate image'
  args: [
    'push',
    'europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/evaluate:latest'
  ]

- name: 'gcr.io/cloud-builders/docker'
  id: 'Run evaluate'
  entrypoint: 'bash'
  secretEnv: ["GOOGLE_APPLICATION_CREDENTIALS", "WANDB_API_KEY"]
  args:
    - '-c'
    - |
      mkdir -p /tmp/creds
      # Write the secret to a file
      echo "$GOOGLE_APPLICATION_CREDENTIALS" > /tmp/creds/gcp-credentials.json
      docker run --rm \
        -v /tmp/creds/gcp-credentials.json:/tmp/gcp-credentials.json:ro \
        -e GOOGLE_APPLICATION_CREDENTIALS=/tmp/gcp-credentials.json \
        -e WANDB_API_KEY="$WANDB_API_KEY" \
        europe-west1-docker.pkg.dev/dtu-mlops-group-48/our-artifact-registry/evaluate:latest

options:
  logging: CLOUD_LOGGING_ONLY

availableSecrets:
  secretManager:
  - versionName: projects/684678738707/secrets/GOOGLE_APPLICATION_CREDENTIALS/versions/latest
    env: 'GOOGLE_APPLICATION_CREDENTIALS'
  - versionName: projects/684678738707/secrets/WANDB_API_KEY/versions/latest
    env: 'WANDB_API_KEY'
